body#enter-background {
	background-color: black;
}

#enter-container{
	text-align: center;
	margin-top: 50px;
}

#enter-site-container{
	padding-top: 50px;
}

#enter{
	font-family: 'Playfair Display SC', serif; 
	color: white;
	text-decoration: none;
	font-size: 1.3em;
	letter-spacing: 0.3em;
}

#enter:visited {
	color:white;
}

#enter:hover {
	color: grey;
}


body#home-background {
	background-image: url('../images/Dartmouth3.jpg');
	background-position: overflow;
	background-attachment: fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}